@mixin text-11-14-400 {
  font-size: 11px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
}

@mixin text-11-14-500 {
  font-size: 11px !important;
  font-weight: 500 !important;
  line-height: 14px !important;
}

@mixin text-11-20-500 {
  font-size: 11px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

@mixin text-12-14-400 {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 14px !important;
}

@mixin text-12-14-500 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14px !important;
}

@mixin text-11-16-400 {
  font-size: 11px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}

@mixin text-12-16-400 {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}

@mixin text-12-16-500 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 16px !important;
}

@mixin text-12-16-600 {
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 16px !important;
}

@mixin text-12-18-400 {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

@mixin text-12-18-500 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
}

@mixin text-12-20-400 {
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

@mixin text-12-20-500 {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

@mixin text-13-18-400 {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
}

@mixin text-13-20-400 {
  font-size: 13px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

@mixin text-13-18-500 {
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
}

@mixin text-13-18-600 {
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
}

@mixin text-14-20-400 {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
}

@mixin text-14-20-500 {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

@mixin text-14-20-600 {
  font-size: 14px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
}

@mixin text-16-22-300 {
  font-size: 16px !important;
  font-weight: 300 !important;
  line-height: 22px !important;
}

@mixin text-16-22-400 {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
}

@mixin text-16-22-500 {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
}

@mixin text-18-20-500 {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
}

@mixin text-18-24-400 {
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

@mixin text-18-24-500 {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

@mixin text-20-24-400 {
  font-size: 20px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

@mixin text-20-24-500 {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

@mixin text-20-24-700 {
  font-size: 20px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
}

@mixin text-22-28-500 {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24px !important;
}

@mixin text-28-32-400 {
  font-size: 28px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

@mixin text-28-32-500 {
  font-size: 28px !important;
  font-weight: 500 !important;
  line-height: 32px !important;
}

@mixin text-28-32-600 {
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 32px !important;
}

@mixin text-28-32-700 {
  font-size: 28px !important;
  font-weight: 700 !important;
  line-height: 32px !important;
}

@mixin text-32-36-400 {
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 36px !important;
}
