/* Breakpoints (mobile-first) */
$widemobile: 576px;
$tablet: 768px;
$widelaptop: 1024px;
$desktop: 1440px;
$mediumscreen: 1880px;
$widescreen: 2560px;

/* Radiuses */
$radius-xs: 2px;
$radius-s: 4px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;
$radius-xxl: 24px;
$radius-xxxl: 32px;
$radius-xxxxl: 48px;

/* Spaces */
$space-xxs: 2px;
$space-xs: 4px;
$space-s: 8px;
$space-m: 12px;
$space-l: 16px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 48px;
$space-xxxxl: 64px;

/* Transitions */
$transition-time: 0.15s;
$transition-ease: ease-in-out;

/* Colors */
$neutral00: #FFF;
$neutral10: #F8F8F9;
$neutral20: #F3F3F4;
$neutral30: #EFEFF0;
$neutral40: #E7E8E9;
$neutral50: #D9DBDE;
$neutral60: #B5BABF;
$neutral70: #84898E;
$neutral80: #464C53;
$neutral90: #2C3239;
$neutral100: #171C22;
